<div class="container">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

        <mat-card style="border-radius: 0;border: 1px solid #F1F1F1;">
          <mat-card-content [routerLink]="['grade1']" routerLinkActive="active" style="padding: 0px 20px;font-family: 'Noto Sans Khmer', sans-serif;
          font-size: 16px; cursor: pointer;">រៀនគូសបន្ទាត់</mat-card-content>
        </mat-card>
        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px;padding: 0 15px;">ចម្រៀងស្រៈ និងព្យញ្ជនៈ</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px; cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.1']" routerLinkActive="active">មេរៀនទី២ ចម្រៀងស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៣ ចម្រៀងព្យញ្ជនៈ</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px; padding: 0 15px;" >ស្ពានទី១</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px; cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.3']" routerLinkActive="active">ព្យ. ក ខ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.4']" routerLinkActive="active">ព្យ. ច ឆ</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px; padding: 0 15px;">ស្រៈ</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px; cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.1']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈា​</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈិ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈី</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈឹ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈឺ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈុ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈូ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈួ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈើ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈឿ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈៀ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈេ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈែ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈៃ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈោ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈៅ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈុំ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈំ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈាំ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈះ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈុះ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈេះ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. កខចឆ ផ្សំស្រៈោះ</p>
          </mat-expansion-panel>
        </mat-accordion>


        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px; padding: 0 15px;">ព្យញ្ជនៈពួកអ</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px; cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.1']" routerLinkActive="active">មេរៀនទី៥ ព្យ. ក ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦ ព្យ. ខ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៧ ព្យ. ច ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៨ ព្យ. ឆ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">រៀនសាឡើងវិញ ក ខ ច ឆ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៩ ព្យ. ដ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១០ ព្យ. ឋ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១១ ព្យ. ណ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">រៀនសាឡើងវិញ ដ ឋ ណ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១២ ព្យ. ត ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១២ ព្យ. ថ ផ្សំស្រៈ (តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១៣ ព្យ. ប ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១៣ ព្យ. ផ ផ្សំស្រៈ (តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">រៀនសាឡើងវិញ ត ថ ប ផ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១៤ ព្យ. ស ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១៤ ព្យ. ហ ផ្សំស្រៈ (តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១៥ ព្យ. ឡ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១៥ ព្យ. អ ផ្សំស្រៈ(តចប់)រៀនសាឡើងវិញក ខ ច ឆ ដ ឋ ណ ត ថ ប ផសហ ឡ អ</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px; padding: 0 15px;">ស្ពានទី២</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px; cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.1']" routerLinkActive="active">ព្យ គ ជ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ គ ជ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. គជទល ផ្សំស្រៈ​ា ិ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. គជទល ផ្សំស្រៈ​ី ឹ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. គជទល ផ្សំស្រៈ​ឺ ុ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. គជទល ផ្សំស្រៈ​ូ ួ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. គជទល ផ្សំស្រៈ​ើ ឿ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. គជទល ផ្សំស្រៈ​ៀ េ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. គជទល ផ្សំស្រៈ​ែ ៃ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. គជទល ផ្សំស្រៈ​ោ ៅ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. គជទល ផ្សំស្រៈ​ុំ ំ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. គជទល ផ្សំស្រៈ​ាំ ះ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. គជទល ផ្សំស្រៈ​ុះ េះ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យ. គជទល ផ្សំស្រៈោះ</p>
          </mat-expansion-panel>
        </mat-accordion>


        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px; padding: 0 15px;">ព្យញ្ជនៈពួកអ៊</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១៦ ព្យ. គ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១៧ ព្យ. ឃ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១៨ ព្យ. ង ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១៩ ព្យ. ជ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី២០ ព្យ. ឈ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី២១ ព្យ. ញ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ពរៀនសាឡើងវិញគ ឃ ង ជ ឈ ញ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី២២ ព្យ. ឌ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី២៣ ព្យ. ឍ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី២៤ ព្យ. ទ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី២៤ ព្យ. ធ ផ្សំស្រៈ(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">រៀនសាឡើងវិញ ឌ ឍ ទ ធ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី២៥ ព្យ. ន ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី២៥ ព្យ. ព ផ្សំស្រៈ(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី២៦ ព្យ. ភ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី២៦ ព្យ. ម ផ្សំស្រៈ(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">រៀនសាឡើងវិញ ន ព ភ ម</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី២៧ ព្យ. យ ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី២៧ ព្យ. រ ផ្សំស្រៈ(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី ២៨-ព្យ. ល ផ្សំស្រៈ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី ២៨-ព្យ. វ ផ្សំស្រៈ(តចប់)</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-card style="border-radius: 0;border: 1px solid #F1F1F1;">
          <mat-card-content style="padding: 0px 20px;font-family: 'Noto Sans Khmer', sans-serif;
          font-size: 16px; cursor: pointer;">រៀនសាឡើងវិញ</mat-card-content>
        </mat-card>

        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px;padding: 0 15px;">និង ៊</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៣០ ព្យ. ង៉</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៣១ ព្យ. ញ៉</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៣២ ព្យ.ប៉</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៣៣ ព្យ.ម៉</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៣៤ ព្យ.យ៉</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៣៥ ព្យ.រ៉</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៣៦ ព្យ.វ៉</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">រៀនសាឡើងវិញ ង៉ ញ៉ ប៉ ម៉ យ៉ រ៉ វ៉</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៣៧ ព្យ.ប៊</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៣៨ ព្យ.ស៊</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៣៩ ព្យ.ហ៊</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤០ ព្យ.អ៊</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">រៀនសាឡើងវិញ ប៊ ស៊ ហ៊ អ៊</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤១ មេសូត្រ</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px;padding: 0 15px;">ប្រកប</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤២ ប្រកប ក (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤២ ប្រកប ក់ (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៣ ប្រកប ក (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៣ ប្រកប ក់ (ពួក អ៊)(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៤ ប្រកប ង (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៤ ប្រកប ង់ (ពួក អ)(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៥ ប្រកប ង (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៥ ប្រកប ង់ (ពួក អ៊)(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៦ ប្រកប ច (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៦ ប្រកប ច់ (ពួក អ)(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៧ ប្រកប ច (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៧ ប្រកប ច់ (ពួក អ៊)(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៨ ប្រកប ញ (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៨ ប្រកប ញ់ (ពួក អ)(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៩ ប្រកប ញ (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៤៩ ប្រកប ញ់ (ពួក អ៊)(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥០ ប្រកប ត (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥០ ប្រកប ត់ (ពួក អ)(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥១ ប្រកប ត (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥១ ប្រកប ត់ (ពួក អ៊)(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥២ ប្រកប ន (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥២ ប្រកប ន់ (ពួក អ)(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥៣ ប្រកប ន (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥៣ ប្រកប ន់ (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥៤ ប្រកប ប (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥៤ ប្រកប ប់ (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥៥ ប្រកប ប (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥៥ ប្រកប ប់ (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥៦ ប្រកប ម (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥៧ ប្រកប ម (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥៨ ប្រកប យ (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៥៩ ប្រកប យ (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦០ ប្រកប ល (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦០ ប្រកប ល់ (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦១ ប្រកប ល (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦១ ប្រកប ល់ (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦២ ប្រកប វ (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦២ ប្រកប វ (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦៣ ប្រកប ស (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦៣ ប្រកប ស់ (ពួក អ)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦៤ ប្រកប ស (ពួក អ៊)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦៤ ប្រកប ស់ (ពួក អ៊)</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px;padding: 0 15px;">ស្រៈពេញតួ</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦៥-៦៦</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ស្រ:ពេញតួ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ស្រ:ពេញតួ(ត)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ស្រ:ពេញតួ(តចប់)</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px;padding: 0 15px;">ផ្ញើជើង</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦៧</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យញ្ជន: និងជើងព្យញ្ជន</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យញ្ជន: និងជើងព្យញ្ជន:(ត)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ព្យញ្ជន: និងជើងព្យញ្ជន:(តចប់)</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦៨ ផ្ញើជើង ក្ត ក្ប ក្ស ក្អ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៦៩ ផ្ញើជើង ក្ង ក្ន ក្ម ក្រ ក្ល </p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៧០ ផ្ញើជើង ខ្ច ខ្ញ ខ្ត ខ្ញ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៧១ ផ្ញើជើង ខ្ម ខ្យ ខ្ល ខ្វ ខ្ស</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៧២ ផ្ញើជើង គ្ន គ្ម គ្រ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៧៣ ផ្ញើជើង ឃ្ញ ឃ្ន ឃ្ម ឃ្ល ឃ្វ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៧៤ ចម្រៀង</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៧៥ ផ្ញើជើង ច្ប ច្ន ច្យ ច្រ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៧៦ ផ្ញើជើង ឆ្ក ឆ្ង ឆ្ដ ឆ្ន</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៧៧ ផ្ញើជើង ឆ្ម ឆ្ល ឆ្វ ឆ្អ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៧៨ ផ្ញើជើង ជ្រ ជ្វ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៧៩ ផ្ញើជើង ឈ្ង ឈ្ន ឈ្ម ឈ្ល​ ឈ្វ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៨០ ផ្ញើជើង ត្ប ត្ម ត្រ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៨១ ផ្ញើជើង ថ្ក ថ្ង ថ្ន ថ្ម ថ្ល ថ្វ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៨២ ផ្ញើជើង ទ្រ ទ្វ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៨៣ ផ្ញើជើង ធ្ង ធ្ន ធ្ម</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៨៤ ផ្ញើជើង ប្ត ប្រ ប្ល ប្អ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៨៥ ផ្ញើជើង ផ្ក ផ្ង ផ្ច ផ្ញ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៨៦ ផ្ញើជើង ផ្ត ផ្ដ ផ្ន ផ្ល ផ្ស ផ្អ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៨៧ ផ្ញើជើង ព្ន ព្យ ព្រ ព្ល</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៨៨ ផ្ញើជើង ភ្ង ភ្ជ ភ្ញ ភ្ន ភ្ល </p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៨៩ ផ្ញើជើង ម្ក ម្ខ ម្ច ម្ត </p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៩០ ផ្ញើជើង ម្ង ម្ជ ម្ញ ម្ច </p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៩១​ ផ្ញើជើង ម្ន ម្ភ ម្យ ម្រ ម្ល</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៩២ ផ្ញើជើង ល្ខ ល្ប ល្ហ ល្អ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៩៣ ផ្ញើជើង ស្ក ស្ត ស្ថ ស្ប ស្រ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៩៤ ផ្ញើជើង ស្ង ស្ន ស្ម ស្ល ស្វ ស្អ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">ស្រ:ពេញតួ(តចប់)</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px;padding: 0 15px;">ព្យាង្គតម្រួត</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៩៥ ព្យាង្គតម្រួត ង្ក ង្ខ ង្វ ង្ស ង្ហ ង្អ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៩៦ ព្យាង្គតម្រួត ង្គ ង្ឃ ង្រ </p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៩៧ ព្យាង្គតម្រួត ញ្ច ញ្ច ញ្ជ ញ្ឈ ញ្ញ </p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៩៨ ព្យាង្គតម្រួត ណ្ត ណ្ណ ណ្ឋ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី៩៩ ព្យាង្គតម្រួត ន្យ ន្ធ ន្ល ន្ស </p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១០០ ព្យាង្គតម្រួត ម្ប ម្ព ម្ភ ម្ម ម្រ ម្ល </p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១០១ ព្យាង្គតម្រួត ង្ក្រ ង្គ្រ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១០២ ព្យាង្គតម្រួត ញ្ច្រ ញ្រ្ជ</p>
          </mat-expansion-panel>
        </mat-accordion>


        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px;padding: 0 15px;">អត្ថបទ</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១០៣ អ្នកគ្រូខ្ញុំ</p>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" [routerLink]="['grade1.2']" routerLinkActive="active">មេរៀនទី១០៤ សាលារៀនខ្ញុំ</p>
          </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>
      <button type="button" mat-button (click)="drawer.toggle()" style="border: 2px solid #E0E0E0;margin-top: 3px;">

        Open Lesson<i style="padding: 0 3px;" class="fa-solid fa-arrow-right-to-bracket"></i>

      </button>
    <div class="example-sidenav-content" style="display: flex;flex-direction: column;">
      <p style="font-family: 'Noto Sans Khmer', sans-serif;
      font-size: 16px;cursor: pointer; font-size: 30px;" >ភាសាខ្មែរ ថ្នាក់ទី១</p>
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>
