
<div class="swiper-container">

    <div class="img-study">
      <img src="../../../assets/img-study.jpg" alt="">
      <div class="cap-2">
        <h3>Improve Your Grades with online course</h3>
        <p>Want to improve your school grades? You need to study harder with the help of great teacher to improve your performance at school.</p>
        <button [routerLink]="['../signup']" routerLinkActive="active">Get Started</button>
      </div>
    </div>


  <div class="caption">
    <div class="cap-1">
      <h3>Study With Me</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, voluptatibus. Ab debitis facere quia accusantium laborum quaerat, dolore repellendus nam.</p>
    </div>
     <img src="../../../assets/img-study1.jpg" alt="">
  </div>
</div>
