<div class="grade-container">
  <div class="video">
    <div class="lesson">
      <p>រៀនគូសបន្ទាត់ និងខ្សែកោង
        បង្រៀន​ដោយ៖ អ្នកគ្រូ សយ ប៊ុននីន
        សាលាបឋមសិក្សាកំពង់ពពិល ស្រុកពារាំង ខេត្តព្រៃវែង</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lVT_OH09lEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="lesson">
      <p>រៀនគូសបន្ទាត់ និងខ្សែកោង (តចប់)
        បង្រៀន​ដោយ៖ អ្នកគ្រូ សយ ប៊ុននីន
        សាលាបឋមសិក្សាកំពង់ពពិល ស្រុកពារាំង ខេត្តព្រៃវែង</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UovVqmQctew" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

  </div>
  <p>ចូលមើលឯកសារផ្សេងទៀត ៖ </p>
  <div class="pdf">
    <div class="class">
      <iframe src="https://drive.google.com/file/d/15MMmPjBkK43vsKDnVXOVVQM6ogo-ng4E/preview" width="640" height="480" allow="autoplay"></iframe>
      <p>សៀវភៅមេរៀនទី១ ទំព័រទី១</p>
    </div>
    <div class="class">
      <iframe src="https://drive.google.com/file/d/1xkoCmK0hbQ8BgdtnCwISco_LVolofm2-/preview" width="640" height="480" allow="autoplay"></iframe>
      <p>ទំព័រពីកូនស្វាឆ្លាតអ១ ទំព័រទី១-២៨</p>
    </div>
    <div class="class">
      <iframe src="https://drive.google.com/file/d/1LSOa7SrISo4MlOxLYPUPAG64JFvCA8pd/preview" width="640" height="480" allow="autoplay"></iframe>
      <p>សន្លឹកកិច្ចការមេរៀនទី១ ទំព័រទី១-២</p>
    </div>

  </div>

</div>
