<div class="container" >
  <h3>{{lessonName}}</h3>
  <h3>{{lessonName1}}</h3>
  <h3>{{lessonName2}}</h3>
  <h3>{{lessonName2_2}}</h3>
  <h3>{{lessonName3}}</h3>
  <h3>{{lessonName3_1}}</h3>
  <h3>{{lessonName3_2}}</h3>
  <h3>{{lessonName3_3}}</h3>
  <h3>{{lessonName3_4}}</h3>
  <h3>{{lessonName3_5}}</h3>
  <h3>{{lessonName3_6}}</h3>
  <h3>{{lessonName4}}</h3>
  <h3>{{lessonName4_1}}</h3>
  <iframe  width="560" height="315" [src]="url " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>

