<div class="courses-container">
  <h3>Welcome To Courses</h3>
  <div class="box-courses">
    <div class="box">
      <img src="../../../../assets/picture1.png" alt="">
      <button (click)="isClick()">ថ្នាក់ទី១០​ ពិសោធន៍គីំមីវិទ្យា</button>
    </div>
    <div class="box">
      <img src="../../../../assets/picture2.png" alt="">
      <button>ថ្នាក់ទី១០​ ពិសោធន៍រូបវិទ្យា</button>
    </div>
    <div class="box">
      <img src="../../../../assets/picture3.png" alt="">
      <button>ថ្នាក់ទី១០​ ពិសោធន៍ជីវវិទ្យា</button>
    </div>
    <div class="box">
      <img src="../../../../assets/picture4.png" alt="">
      <button>ថ្នាក់ទី១០​ ពិសោធន៍គណិតវិទ្យា</button>
    </div>
    <div class="box">
      <img src="../../../../assets/picture5.png" alt="">
      <button>ថ្នាក់ទី១២ អក្សរសាស្រ្តខ្មែរ</button>
    </div>
    <div class="box">
      <img src="../../../../assets/picture6.png" alt="">
      <button>ថ្នាក់ទី១២ គណិតវិទ្យា</button>
    </div>
    <div class="box">
      <img src="../../../../assets/picture7.png" alt="">
      <button>ថ្នាក់ទី១២ គីមីវិទ្យា</button>
    </div>
    <div class="box">
      <img src="../../../../assets/picture8.png" alt="">
      <button>ថ្នាក់ទី១២ រូបវិទ្យា</button>
    </div>
    <div class="box">
      <img src="../../../../assets/picture9.png" alt="">
      <button>ថ្នាក់ទី១២ ជីវវិទ្យា</button>
    </div>
    <div class="box">
      <img src="../../../../assets/picture10.png" alt="">
      <button>ថ្នាក់ទី១២ ប្រវត្តវិទ្យា</button>
    </div>
  </div>
</div>
