<div class="course-container" >
  <div class="caption">
    <h3>Course Type</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto est consectetur fugit mollitia omnis eaque ea provident praesentium totam dicta.</p>
  </div>

  <div class="parent">
    <div class="course-box" >
      <div class="box-1"   (click)="isClick()">
        <p>Grade 1-6</p>
        <div class="grade">
          <p>ថ្នាក់ទី ១-៦</p>
        </div>

      </div>
      <div class="box-1" (click)="isClick1()">
        <p>Grade 7</p>
        <div class="grade">
          <p>ថ្នាក់ទី ៧</p>
        </div>
      </div>
      <div class="box-1" (click)="isClick2()" >
        <p>Grade 8</p>
        <div class="grade">
          <p>ថ្នាក់ទី ៨</p>
        </div>
      </div>
      <div class="box-1" (click)="isClick3()">
        <p>Grade 9</p>
        <div class="grade">
          <p>ថ្នាក់ទី ៩</p>
        </div>
      </div>
    </div>

    <div class="course-box-2">
      <div class="box-2" (click)="isClick4()">
        <p>Grade 10</p>
        <div class="grade">
          <p>ថ្នាក់ទី ១០</p>
        </div>
      </div>
      <div class="box-2" (click)="isClick5()">
        <p>Grade 11</p>
        <div class="grade">
          <p>ថ្នាក់ទី ១១</p>
        </div>
      </div>
      <div class="box-2" (click)="isClick6()">
        <p>Grade 12</p>
        <div class="grade">
          <p>ថ្នាក់ទី ១២</p>
        </div>
      </div>
      <div class="box-2" (click)="isClick7()">
        <p>Skill</p>
        <div class="grade">
          <p>ជំនាញ</p>
        </div>
      </div>

    </div>
  </div>

</div>
