*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer-container{
  height: 40vh;
  width: 100%;
  background: #297796;
  display: flex;
  flex-direction: column;
  .box{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-bottom: 2px solid #fff;
    .cap{
      display: flex;
      flex-direction: row;
      gap: 20px;
      li{
        list-style: none;
        font-size: 20px;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        cursor: pointer;
      }
    }
    .social{
      display: flex;
      flex-direction: row;
      gap: 15px;
      img{
        height: 50px;
        cursor: pointer;
      }
    }
  }
  .privacy{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    p{
      font-size: 14px;
      color: #fff;
      font-family: 'Source Sans Pro', sans-serif;
      cursor: pointer;
    }
    .follow{
      display: flex;
      flex-direction: row;
      gap: 40px;
      p{
        font-size: 14px;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 1000px){
  .footer-container{
    height: auto;
  }
}
@media screen and (max-width: 700px){
  .footer-container .privacy{
    padding: 0 30px;
    gap: 40px;
  }
  .footer-container .privacy p{
    font-size: 12px;
  }
  .footer-container .privacy .follow p{
    font-size: 12px;
  }
}
