<div class="footer-container">
  <div class="box">
    <div class="cap">
      <li [routerLink]="['/about']" routerLinkActive="active">About</li>
      <li [routerLink]="['/contact']" routerLinkActive="active">Contact</li>
      <li>Services</li>
    </div>
    <div class="social">
      <a href="https://www.facebook.com/"><img src="../../../assets/facebook.svg" alt=""></a>
      <a href="https://www.instagram.com/"><img src="../../../assets/instagram.svg" alt=""></a>
      <a href="https://twitter.com/"><img src="../../../assets/twitter.svg" alt=""></a>
      <a href="https://www.youtube.com/"><img src="../../../assets/youtube.svg" alt=""></a>
    </div>
  </div>

  <div class="privacy">
    <p>Copyright Courzees All Right Reserved.</p>
    <div class="follow">
        <p>Terms of Service</p>
        <p>Privacy Policy</p>
    </div>
  </div>

</div>
