<div class="grade-container">
  <div class="video">
    <div class="lesson">
      <p>ស្ពានទី១ ព្យព្ជានៈ ក ខ
        បង្រៀន​ដោយ៖ អ្នកគ្រូ សយ ប៊ុននីន
        សាលាបឋមសិក្សាកំពង់ពពិល ស្រុកពារាំង ខេត្តព្រៃវែង</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7ZNsztL_6H0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="lesson">
      <p>ស្ពានទី១ ព្យព្ជានៈ ក ខ (តចប់)
        បង្រៀន​ដោយ៖ អ្នកគ្រូ សយ ប៊ុននីន
        សាលាបឋមសិក្សាកំពង់ពពិល ស្រុកពារាំង ខេត្តព្រៃវែង </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ntaGuypCJPk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

  </div>
  <p>ចូលមើលឯកសារផ្សេងទៀត ៖ </p>
  <div class="pdf">
    <div class="class">
      <div class="class-1">
        <iframe src="https://drive.google.com/file/d/1RdLZK42aeAlYlypWJ0wany4gvUiGYXLo/preview" width="640" height="480" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1gHMPxfEO8RB-akNsaMd3qM8ZpY0PweIx/preview" width="640" height="480" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1M9ct4VhERPcEwwKhlRivg4NbJDcDpRAh/preview" width="640" height="480" allow="autoplay"></iframe>
      </div>
      <div class="class-1">
        <iframe src="https://drive.google.com/file/d/1M9ct4VhERPcEwwKhlRivg4NbJDcDpRAh/preview" width="640" height="480" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1vwTpMG8B5WUAgE_fqIi3lZAvfv6xZbIj/preview" width="640" height="480" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/17ItaQJsZzDagna7EJNJm7qVt3Fe5LwA_/preview" width="640" height="480" allow="autoplay"></iframe>
      </div>

      <p>សៀវភៅមេរៀនទី៤ ទំព័រទី៥   ទំព័រពីកូនស្វាឆ្លាតអ៣ ទំព័រទី៤​​  ទំព័រពីកូនស្វាឆ្លាតអ៣ ទំព័រទី៥   ទំព័រពីកូនស្វាឆ្លាតអ៣ ទំព័រទី៦    ទំព័រពីកូនស្វាឆ្លាតអ៣ ទំព័រទី៧   ទំព័រពីកូនស្វាឆ្លាតអ៣ ទំព័រទី៨</p>
    </div>
  </div>

</div>
