<div class="grade-container">
  <div class="video">
    <div class="lesson">
      <p>ស្ពានទី១ ព្យព្ជានៈ ច​ ឆ
        បង្រៀន​ដោយ៖ អ្នកគ្រូ សយ ប៊ុននីន
        សាលាបឋមសិក្សាកំពង់ពពិល ស្រុកពារាំង ខេត្តព្រៃវែង</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PhtClHbrsK4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="lesson">
      <p>ស្ពានទី១ ព្យព្ជានៈ ច​ ឆ(តចប់)
        បង្រៀន​ដោយ៖ អ្នកគ្រូ សយ ប៊ុននីន
        សាលាបឋមសិក្សាកំពង់ពពិល ស្រុកពារាំង ខេត្តព្រៃវែង </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/8HWrC7PzK_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

  </div>
  <p>ចូលមើលឯកសារផ្សេងទៀត ៖ </p>
  <div class="pdf">
    <div class="class">
      <div class="class-1">
        <iframe src="https://drive.google.com/file/d/1RdLZK42aeAlYlypWJ0wany4gvUiGYXLo/preview" width="640" height="480" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1-hi1-_446zDHWgVn8SHwxXoNa719qYu9/preview" width="640" height="480" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1J9ZMuCslkznOkSTPST26SxuhrttqHgTL/preview" width="640" height="480" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1h9moWKSOQeblWf6clhBXN9pH-TPEzCvv/preview" width="640" height="480" allow="autoplay"></iframe>
        <iframe src="https://drive.google.com/file/d/1VdlYL54g-5tnxjN2RsybfCPHSQrqMtCF/preview" width="640" height="480" allow="autoplay"></iframe>
      </div>
      <p>សៀវភៅមេរៀនទី៤ ទំព័រទី៥   ទំព័រពីកូនស្វាឆ្លាតអ៣ ទំព័រទី៩​​  ទំព័រពីកូនស្វាឆ្លាតអ៣ ទំព័រទី១០   ទំព័រពីកូនស្វាឆ្លាតអ៣ ទំព័រទី១២    ទំព័រពីកូនស្វាឆ្លាតអ៣ ទំព័រទី១៣ </p>
    </div>
  </div>

</div>
