<div class="slide-container">
  <div class="cap">
    <h3>Recent Courses</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta nesciunt in eveniet laudantium eaque laborum qui obcaecati consequatur quisquam dignissimos?</p>

  </div>
  <div class="box-courses">
    <div class="box">
      <img src="../../../../assets/picture1.png" alt="">
      <button (click)="isClick()">ថ្នាក់ទី១០​ ពិសោធន៍គីំមីវិទ្យា</button>
    </div>
    <div class="box">
      <img src="../../../../assets/picture2.png" alt="">
      <button>ថ្នាក់ទី១០​ ពិសោធន៍រូបវិទ្យា</button>
    </div>
    <div class="box">
      <img src="../../../../assets/picture3.png" alt="">
      <button>ថ្នាក់ទី១០​ ពិសោធន៍ជីវវិទ្យា</button>
    </div>
    <div class="box">
      <img src="../../../../assets/picture4.png" alt="">
      <button>ថ្នាក់ទី១០​ ពិសោធន៍គណិតវិទ្យា</button>
    </div>
  </div>
  <button [routerLink]="['/all-courses']" routerLinkActive="active">See Mores</button>
</div>
