<div class="grade-container">
  <div class="video">
    <div class="lesson">
      <p>ចម្រៀងស្រៈ
        បង្រៀន​ដោយ៖ អ្នកគ្រូ សយ ប៊ុននីន
        សាលាបឋមសិក្សាកំពង់ពពិល ស្រុកពារាំង ខេត្តព្រៃវែង</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xqGgS-zYd-s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="lesson">
      <p>ចម្រៀងស្រៈ (តចប់)
        បង្រៀន​ដោយ៖ អ្នកគ្រូ សយ ប៊ុននីន
        សាលាបឋមសិក្សាកំពង់ពពិល ស្រុកពារាំង ខេត្តព្រៃវែង</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/f28AfqF9_UM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

  </div>
  <p>ចូលមើលឯកសារផ្សេងទៀត ៖ </p>
  <div class="pdf">
    <div class="class">
      <iframe src="https://drive.google.com/file/d/1BHlR7t9GJAprWSInqjADJkv5RzzFn5l4/preview" width="640" height="480" allow="autoplay"></iframe>
      <p>សៀវភៅមេរៀនទី២ ទំព័រ២</p>
    </div>
  </div>

</div>

