<div class="category-container">

  <div class="lesson-container">
    <h4><li>Primary School</li></h4>
    <div class="grade-1">
      <p>Grade 1</p>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/khmer-1.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/maths-1.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/scince-1.png" alt="">
        </div>
      </div>
    </div>

    <div class="grade-1">
      <p>Grade 2</p>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade3.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade3.1.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade3.2.png" alt="">
        </div>
      </div>
    </div>

    <div class="grade-1">
      <p>Grade 3</p>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade4.1.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade4.2.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade4.3.png" alt="">
        </div>
      </div>
    </div>

    <div class="grade-2">
      <p>Grade 4</p>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade4.44.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade4.33.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade4.22.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade4.11.png" alt="">
        </div>
      </div>
    </div>

    <div class="grade-2">
      <p>Grade 5</p>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade5.1.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade5.2.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade5.3.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade5.4.png" alt="">
        </div>
      </div>
    </div>

    <div class="grade-2">
      <p>Grade 6</p>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade6.3.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade6.1.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade6.2.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/garde6.4.png" alt="">
        </div>
      </div>
    </div>
  </div>




  <div class="lesson-container">
    <h4><li>secondary school</li></h4>
    <div class="grade-1">
      <p>Grade 7</p>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade7.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade7.1.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade7.2.png" alt="">
        </div>
      </div>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade7.3.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade7.4.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade7.5.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="lesson-container">
    <div class="grade-1">
      <p>Grade 8</p>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade8.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/garde8.1.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade8.2.png" alt="">
        </div>
      </div>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade8.3.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade8.4.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade8.5.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="lesson-container">

    <div class="grade-1">
      <p>Grade 9</p>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade9.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade9.1.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade9.2.png" alt="">
        </div>
      </div>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade9.3.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade9.4.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade9.5.png" alt="">
        </div>
      </div>
    </div>
  </div>


  <div class="lesson-container">
    <h4><li>High School</li></h4>
    <div class="grade-1">
      <p>Grade 10</p>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade10.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade10.1.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade10.2.png" alt="">
        </div>
      </div>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade10.3.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade10.4.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade10.5.png" alt="">
        </div>
      </div>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade10.6.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade10.7.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade10.8.png" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="lesson-container">

    <div class="grade-1">
      <p>Grade 11</p>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade11.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade11.1.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade11.2.png" alt="">
        </div>
      </div>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade11.3.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade11.4.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade11.5.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="lesson-container">

    <div class="grade-1">
      <p>Grade 12</p>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade12.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade12.1.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade12.2.png" alt="">
        </div>
      </div>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade12.3.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade12.4.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade12.5.png" alt="">
        </div>
      </div>
      <div class="box-grade">

        <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
          <img src="../../../assets/grade12.6.png" alt="">
        </div>
        <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
          <img src="../../../assets/grade12.7.png" alt="">
        </div>
        <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
          <img src="../../../assets/grade12.8.png" alt="">
        </div>
      </div>
    </div>
  </div>


</div>
