*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  font-family: 'Noto Sans Khmer', sans-serif;
  font-size: 16px;
}
.pdf{
  display: flex;
  flex-direction: row;
  gap: 60px;
  .class{
    display: flex;
    flex-direction: column;

    iframe{
      height: 300px;
      width: 250px;
    }
    p{
      font-family: 'Noto Sans Khmer', sans-serif;
      font-size: 16px;
    }
  }
}
