<div class="container">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">

        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px;">រៀនគូសបន្ទាត់ និងខ្សែកោ</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" *ngFor="let item of bookLessonData" [routerLink]="['/khmer1/'+item?.key]" routerLinkActive="active">{{item?.name}}</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px;">ចម្រៀងស្រៈ និងព្យញ្ជនៈ</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p style="font-family: 'Noto Sans Khmer', sans-serif;
            font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" *ngFor="let item of bookLessonData1" [routerLink]="['/khmer1/'+item?.key]" routerLinkActive="active">{{item?.name}}</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px;">ស្ពានទី១</p>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-expansion-panel style="border-radius: 0;box-shadow: 0 0 0 0 #fff; ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
                 font-size: 16px;">ព្យ. ក ខ</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p style="font-family: 'Noto Sans Khmer', sans-serif;
              font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" *ngFor="let item of bookLessonData2" [routerLink]="['/khmer1/'+item?.key]" routerLinkActive="active">{{item?.name}}</p>
            </mat-expansion-panel>
            <mat-expansion-panel style="border-radius: 0;box-shadow: 0 0 0 0 #fff; ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
                 font-size: 16px;">ព្យ. ច ឆ</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p style="font-family: 'Noto Sans Khmer', sans-serif;
              font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" *ngFor="let item of bookLessonData2_2" [routerLink]="['/khmer1/'+item?.key]" routerLinkActive="active">{{item?.name}}</p>
            </mat-expansion-panel>
          </mat-expansion-panel>

        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel style="border-radius: 0; border: 1px solid #fff;">
            <mat-expansion-panel-header>
              <mat-panel-title>
               <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
               font-size: 16px;">ស្រៈ</p>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-expansion-panel style="border-radius: 0;box-shadow: 0 0 0 0 #fff; ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
                 font-size: 16px;">ព្យ. កខចឆ ផ្សំស្រៈា​</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p style="font-family: 'Noto Sans Khmer', sans-serif;
              font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" *ngFor="let item of bookLessonData3" [routerLink]="['/khmer1/'+item?.key]" routerLinkActive="active">{{item?.name}}</p>
            </mat-expansion-panel>

            <mat-expansion-panel style="border-radius: 0;box-shadow: 0 0 0 0 #fff; ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
                 font-size: 16px;">ព្យ. កខចឆ ផ្សំស្រៈិ</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p style="font-family: 'Noto Sans Khmer', sans-serif;
              font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" *ngFor="let item of bookLessonData3_1" [routerLink]="['/khmer1/'+item?.key]" routerLinkActive="active">{{item?.name}}</p>
            </mat-expansion-panel>

            <mat-expansion-panel style="border-radius: 0;box-shadow: 0 0 0 0 #fff; ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
                 font-size: 16px;">ព្យ. កខចឆ ផ្សំស្រៈី​</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p style="font-family: 'Noto Sans Khmer', sans-serif;
              font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" *ngFor="let item of bookLessonData3_2" [routerLink]="['/khmer1/'+item?.key]" routerLinkActive="active">{{item?.name}}</p>
            </mat-expansion-panel>

            <mat-expansion-panel style="border-radius: 0;box-shadow: 0 0 0 0 #fff; ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
                 font-size: 16px;">ព្យ. កខចឆ ផ្សំស្រៈឹ​</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p style="font-family: 'Noto Sans Khmer', sans-serif;
              font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" *ngFor="let item of bookLessonData3_3" [routerLink]="['/khmer1/'+item?.key]" routerLinkActive="active">{{item?.name}}</p>
            </mat-expansion-panel>

            <mat-expansion-panel style="border-radius: 0;box-shadow: 0 0 0 0 #fff; ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
                 font-size: 16px;">ព្យ. កខចឆ ផ្សំស្រៈឺ</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p style="font-family: 'Noto Sans Khmer', sans-serif;
              font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" *ngFor="let item of bookLessonData3_4" [routerLink]="['/khmer1/'+item?.key]" routerLinkActive="active">{{item?.name}}</p>
            </mat-expansion-panel>

            <mat-expansion-panel style="border-radius: 0;box-shadow: 0 0 0 0 #fff; ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
                 font-size: 16px;">ព្យ. កខចឆ ផ្សំស្រៈុ</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p style="font-family: 'Noto Sans Khmer', sans-serif;
              font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" *ngFor="let item of bookLessonData3_5" [routerLink]="['/khmer1/'+item?.key]" routerLinkActive="active">{{item?.name}}</p>
            </mat-expansion-panel>

            <mat-expansion-panel style="border-radius: 0;box-shadow: 0 0 0 0 #fff; ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
                 font-size: 16px;">ព្យ. កខចឆ ផ្សំស្រៈូ</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p style="font-family: 'Noto Sans Khmer', sans-serif;
              font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" *ngFor="let item of bookLessonData3_6" [routerLink]="['/khmer1/'+item?.key]" routerLinkActive="active">{{item?.name}}</p>
            </mat-expansion-panel>

            <mat-expansion-panel style="border-radius: 0;box-shadow: 0 0 0 0 #fff; ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
                 font-size: 16px;">ព្យ. កខចឆ ផ្សំស្រៈួ</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p style="font-family: 'Noto Sans Khmer', sans-serif;
              font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" *ngFor="let item of bookLessonData4" [routerLink]="['/khmer1/'+item?.key]" routerLinkActive="active">{{item?.name}}</p>
            </mat-expansion-panel>

            <mat-expansion-panel style="border-radius: 0;box-shadow: 0 0 0 0 #fff; ">
              <mat-expansion-panel-header>
                <mat-panel-title>
                 <p style="margin: 0;font-family: 'Noto Sans Khmer', sans-serif;
                 font-size: 16px;">ព្យ. កខចឆ ផ្សំស្រៈើ</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p style="font-family: 'Noto Sans Khmer', sans-serif;
              font-size: 16px;cursor: pointer;border-bottom: 1px solid #999;" *ngFor="let item of bookLessonData4_1" [routerLink]="['/khmer1/'+item?.key]" routerLinkActive="active">{{item?.name}}</p>
            </mat-expansion-panel>

          </mat-expansion-panel>



        </mat-accordion>

      </mat-drawer>
      <button type="button" mat-button (click)="drawer.toggle()" style="border: 2px solid #E0E0E0;margin-top: 3px;">

        Open Lesson<i style="padding: 0 3px;" class="fa-solid fa-arrow-right-to-bracket"></i>

      </button>
    <div class="example-sidenav-content" style="display: flex;flex-direction: column;">
      <p style="font-family: 'Noto Sans Khmer', sans-serif;
      font-size: 16px;cursor: pointer; font-size: 30px;" >ភាសារខ្មែរ​ ថ្នាក់ទី១</p>
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>
