<div class="lesson-container">
  <h4>Please click on the subject below to view the lesson</h4>
  <div class="grade-1">
    <p>Grade 10</p>
    <div class="box-grade">

      <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
        <img src="../../../assets/grade10.png" alt="">
      </div>
      <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
        <img src="../../../assets/grade10.1.png" alt="">
      </div>
      <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
        <img src="../../../assets/grade10.2.png" alt="">
      </div>
    </div>
    <div class="box-grade">

      <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
        <img src="../../../assets/grade10.3.png" alt="">
      </div>
      <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
        <img src="../../../assets/grade10.4.png" alt="">
      </div>
      <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
        <img src="../../../assets/grade10.5.png" alt="">
      </div>
    </div>
    <div class="box-grade">

      <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
        <img src="../../../assets/grade10.6.png" alt="">
      </div>
      <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
        <img src="../../../assets/grade10.7.png" alt="">
      </div>
      <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
        <img src="../../../assets/grade10.8.png" alt="">
      </div>
    </div>
  </div>
</div>
