*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.location-container{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #297796;
}
