<div class="lesson-container">
  <h4>Please click on the subject below to view the lesson</h4>
  <div class="grade-1">
    <p>Grade 8</p>
    <div class="box-grade">

      <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
        <img src="../../../assets/grade8.png" alt="">
      </div>
      <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
        <img src="../../../assets/garde8.1.png" alt="">
      </div>
      <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
        <img src="../../../assets/grade8.2.png" alt="">
      </div>
    </div>
    <div class="box-grade">

      <div class="box" [routerLink]="['../khmer1']" routerLinkActive="active">
        <img src="../../../assets/grade8.3.png" alt="">
      </div>
      <div class="box" [routerLink]="['../maths1']" routerLinkActive="active">
        <img src="../../../assets/grade8.4.png" alt="">
      </div>
      <div class="box" [routerLink]="['../science1']" routerLinkActive="active">
        <img src="../../../assets/grade8.5.png" alt="">
      </div>
    </div>
  </div>
</div>
